.navbar{
    display: flex;
    flex-direction: row;
    height: 10vh;
    padding:0 5rem;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.logo{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}